<!-- ============================================ -->
<!--                Call To Action                -->
<!-- ============================================ -->

<section id="cta-2372">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Start Your Journey Towards Healing Today</h2>
            <p class="cs-text">
                Get started today to receive expert support and compassionate care tailored to your needs, along with a personalized plan designed to fit seamlessly into your life.
            </p>
            <a href="" class="cs-button-solid">Find A Counselor</a>
        </div>
        <img class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/healing-hands.svg" alt="graphic" loading="lazy" decoding="async" width="490" height="451">
        <img class="cs-floater" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/flower2.svg" alt="flower blur" width="851" height="991" aria-hidden="true">
    </div>
</section>
                                