---
title: "Contact | Code Stitch Web Designs"
description: "Meta description for the page"
permalink: "/contact/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
    <link rel="preload" as="image" href="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 640, height: 600 }) | avif %}"/>
    <link rel="preload" as="image" href="{% getUrl "/assets/images/construction.jpg" | resize({ width: 576, height: 640 }) | avif %}"/>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-310">
        <div class="cs-container">
            <span class="cs-int-title">Contact Us</span>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">Home</a>
                <a href="/contact/" class="cs-link cs-active">Contact Us</a>
            </div>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 640, height: 600 }) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 640, height: 600 }) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 640, height: 600 }) | jpeg %}" type="image/jpeg">
            <!--Tablet Image-->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 2048, height: 942 }) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 2048, height: 942 }) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 2048, height: 942 }) | jpeg %}" type="image/jpeg">
            <!--Desktop Image-->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 2500, height: 628 }) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 2500, height: 628 }) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 2500, height: 628 }) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 2500, height: 628 }) | jpeg %}" alt="library" width="1920" height="482" loading="eager" decoding="async">
        </picture>
    </div>

<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-2147">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Questions?</span>
                <h2 class="cs-title">Reach Us Directly</h2>
            </div>
            <p class="cs-text">
                We are available weekdays during business hours. Please feel free to reach out to us via phone, email, or by filling out the contact form below. Need a quick answer? Check out our <a href="">FAQ page</a>!
            </p>
        </div>
        <div class="cs-contact-info">
            <ul class="cs-ul">
                <li class="cs-li">
                    <span class="cs-header">Location</span>
                    <a href="" class="cs-link">132 Stanley Court, Lawrenceville, GA, USA</a>
                </li>
                <li class="cs-li">
                    <span class="cs-header">Phone</span>
                    <a href="" class="cs-link">+1 (470) 798 - 0244
                    </a>
                </li>
                <li class="cs-li">
                    <span class="cs-header">Email</span>
                    <a href="" class="cs-link">counselingservicesunited@gmail.com</a>
                </li>
            </ul>
        </div>
        <!--Form-->
        <div class="cs-form-wrapper">
            <span class="cs-picture-title">Contact Us</span>
            <form class="cs-form" id="cs-form-2147-2147" name="Contact Form" method="post">
                <div class="cs-form-content">
                    <span class="cs-form-title">Fill out the form below</span>
                </div>
                <label class="cs-label">
                    Full Name
                    <input class="cs-input" required type="text" id="name-2147-2147" name="name" placeholder="">
                </label>
                <label class="cs-label">
                    Email
                    <input class="cs-input" required type="email" id="email-2147-2147" name="email" placeholder="">
                </label>
                <label class="cs-label">
                    Phone #
                    <input class="cs-input" type="phone" id="phone-2147-2147" name="phone" placeholder="">
                </label>
                <label class="cs-label">
                    What Services Are You Interested In?
                    <select class="cs-select" name="class" id="classes-2147-2147" placeholder="">
                        <option value="Service 1">Counseling Services</option>
                        <option value="Service 2">Educational Services</option>
                        <option value="Service 3">Employment</option>
                        <option value="Service 4">Services</option>
                    </select>
                </label>
                <label class="cs-label cs-message">
                    Enter Your Message or Question
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-2147-2147" placeholder=""></textarea>
                </label>
                <button class="cs-button-solid cs-submit" type="submit">Send Message</button>
            </form>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)"
                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/wedding-rings.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)"
                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/wedding-rings.jpg">
                <img loading="lazy" decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/wedding-rings.jpg"
                    alt="wedding rings" width="1280" height="576" aria-hidden="true">
            </picture>
        </div>
    </div>
    <!--Background-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/pattern-bg.png">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/pattern-bg.png">
        <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/pattern-bg.png" alt="background" width="1920" height="1386" loading="lazy" decoding="async" aria-hidden="true">
    </picture>
</section>
                                

{% endblock %}