---
title: "Employment | Code Stitch Web Designs"
description: "Meta description for the page"
permalink: "/employment/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/employment.css">
    <link rel="preload" as="image" href="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 640, height: 600 }) | avif %}"/>
    <link rel="preload" as="image" href="{% getUrl "/assets/images/construction.jpg" | resize({ width: 576, height: 640 }) | avif %}"/>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-310">
        <div class="cs-container">
            <span class="cs-int-title">Employment</span>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">Home</a>
                <a href="/contact/" class="cs-link cs-active">Apply Now</a>
            </div>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 640, height: 600 }) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 640, height: 600 }) | webp %}" type="image/webp">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 640, height: 600 }) | jpeg %}" type="image/jpeg">
            <!--Tablet Image-->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 2048, height: 942 }) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 2048, height: 942 }) | webp %}" type="image/webp">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 2048, height: 942 }) | jpeg %}" type="image/jpeg">
            <!--Desktop Image-->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 2500, height: 628 }) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 2500, height: 628 }) | webp %}" type="image/webp">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 2500, height: 628 }) | jpeg %}" type="image/jpeg">
            <img src="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 2500, height: 628 }) | jpeg %}" alt="library" width="1920" height="482" loading="eager" decoding="async">
        </picture>
    </div>

<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-2061">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Application Form</span>
            <h2 class="cs-title">Apply to Work with Us</h2>
            <p class="cs-text">Orci eu lobortis elementum nibh  tellus. Vulputate eu scelerisque felis imperdiet proin fermentum leo  vel. Luctus accumsan tortor posuere ac ut consequat semper. Et pharetra  pharetra massa massa ultricies mi quis.</p>
        </div>
        <!--Form-->
        <form class="cs-form" id="cs-form-2061" name="Contact Form" method="post">
            <label class="cs-label cs-split">
                First Name *
                <input class="cs-input" required type="text" id="first-name-2061" name="First Name">
            </label>
            <label class="cs-label cs-split">
                Last Name *
                <input class="cs-input" required type="text" id="last-name-2061" name="Last Name">
            </label>
            <label class="cs-label cs-split">
                Email *
                <input class="cs-input" required type="email" id="email-2061" name="Email">
            </label>
            <label class="cs-label cs-split">
                Phone Number *
                <input class="cs-input" required type="tel" id="phone-2061" name="Phone Number">
            </label>
            <label class="cs-label">
                Choose a Service Position *
                <select class="cs-input cs-select" required id="position-2061" name="Position">
                    <option value="" disabled selected>Please Choose</option>
                    <option value="Server">Counselor</option>
                    <option value="Chef">Account Manager</option>
                    <option value="Manager">Customer Support</option>
                    <option value="Other">Other</option>
                </select>
            </label>
            <label class="cs-label">
                When can you start? *
                <input class="cs-input cs-date" required type="date" id="start-date-2061" name="Start Date">
            </label>
            <label class="cs-label">
                What is your availability for an interview?
                <input class="cs-input" type="text" id="interview-availability-2061" name="Interview Availability">
            </label>
            <label class="cs-label cs-split">
                Expected pay range
                <input class="cs-input" type="text" id="pay-range-2061" name="Pay Range">
            </label>
            <label class="cs-label cs-split">
                Years experience
                <input class="cs-input" type="text" id="years-experience-2061" name="Years Experience">
            </label>
            <label class="cs-label cs-message">
                Tell us about any experience you have in your position
                <textarea class="cs-input cs-textarea" id="previous-experience-2061" name="Previous Experience" placeholder="Tell us about your previous experience..."></textarea>
            </label>
            <div class="cs-wrapper">
                <button class="cs-button-solid cs-submit" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <img class="cs-graphic cs-graphic-left" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/dental-drop-green.svg" alt="drop" width="528" height="830" aria-hidden="true" decoding="async">
    <img class="cs-graphic cs-graphic-right" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/dental-drop-blue.svg" alt="drop" width="528" height="830" aria-hidden="true" decoding="async">
</section>
                                
                                

{% endblock %}