// ─────────────────────────────────────────────────────────────────────────────
// HOME PAGE STYLES
// Below-the-fold styles for the homepage that load after critical styles.
// The first section of the home page should go in critical.less, while the
// rest of the home page styles go in here.
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-2369 {
        padding: var(--sectionPadding);
        padding-top: (654/16rem);
        padding-bottom: 0;
        background-color: #FBF5F1;
        /* clips anything overflowing */
        overflow: hidden;
        position: relative;
        z-index: 1;
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (784/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-wrapper {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-content {
            /* set text align to center if content needs to be centered */
            text-align: left;
            width: 100%;
            max-width: (694/16rem);
            overflow: hidden;
            display: flex;
            flex-direction: column;
            /* left aligns content, set to center to align content horizontally */
            align-items: flex-start;
        }

        .cs-header {
            /* 20px - 31px */
            font-size: clamp(1.25rem, 3vw, 1.9375rem);
            text-align: center;
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (32/16rem) 0;
            color: var(--headerColor);
        }

        .cs-arrow {
            width: (154/16rem);
            height: auto;
            margin-bottom: (20/16rem);
            display: block;
        }

        .cs-topper {
            text-align: center;
            margin: auto;
        }

        .cs-title {
            text-align: center;
            max-width: 20ch;
            margin: auto;
            margin-bottom: (32/16rem);
            /* 48px - 64px */
            padding-bottom: clamp(3rem, 6vw, 4rem);
            position: relative;
            z-index: 1;

            &:before {
                content: '';
                width: 100vw;
                height: 1px;
                background: #D2D8DF;
                opacity: 1;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        .cs-text {
            margin-bottom: (16/16rem);

            &:last-of-type {
                /* 24px - 32px */
                margin-bottom: clamp(1.5rem, 3vw, 2rem);
            }
        }

        .cs-ul {
            width: 100%;
            margin: 0 0 (32/16rem);
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (12/16rem);
        }

        .cs-li {
            font-size: var(--bodyFontSize);
            list-style: none;
            line-height: 1.5em;
            width: 100%;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: flex-start;
            /* push icon top the top so if the list item goes to two lines the icon stays at the top */
            align-items: flex-start;
            gap: (8/16rem);
        }

        .cs-icon {
            width: (19/16rem);
            height: auto;
            /* adds extra space between the icon and top of parent so it's more centered */
            margin-top: 3px;
            display: block;
            flex: none;
        }


        .cs-image-group {
            /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
            font-size:~"min(2.8vw, .75rem)";
            /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
            width: (522/16em);
            height: auto;
            order: 2;
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            width: 100%;
            height: auto;
            display: block;

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }

        .cs-flower {
            width: (1200/16em);
            height: auto;
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: -1;
            transform: translateX(-50%);
        }
    }
}

/* Large Desktop - 1200px */
@media only screen and (min-width: 75rem) {
    #sbs-2369 {
        padding: var(--sectionPadding);
        padding-top: (230/16rem);
        padding-bottom: 0;

        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            z-index: 1;
        }

        .cs-content {
            width: 50%;
            padding-bottom: clamp(3.75rem, 7.82vw, 6.25rem);
            align-items: flex-start;
        }

        .cs-topper, .cs-title {
            text-align: left;
            margin: 0;
        }

        .cs-topper {
            margin-bottom: (4/16rem);
        }

        .cs-title {
            margin-bottom: (32/16rem);
        }

        .cs-image-group {
            /* set to inherit at Large Desktop */
            font-size:~"min(1.2vw, 1rem)";
            height: auto;
            order: -1;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
        }

        .cs-picture {
            height: 100%;
            width: auto;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            position: relative;
            z-index: 1;

            img {
                height: 100%;
                width: auto;
            }
        }

        .cs-flower {
            width: 80vw;
            max-width: (900/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-2369 {
            background-color: rgba(0, 0, 0, .2);

            .cs-title,
            .cs-text,
            .cs-header, .cs-li {
                color: var(--bodyTextColorWhite);
            }

            .cs-title {
                &:before {
                    opacity: .2;
                }
            }

            .cs-text, .cs-li {
                opacity: .8;
            }

            .cs-wheel {
                filter: grayscale(1) brightness(1000%) opacity(.3);
            }
        }
    }
}
                                

/*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #steps-2014 {
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background-color: var(--primary);
            opacity: 0.05;
            position: absolute;
            top: 0;
            left: 0;
        }

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (704/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-text {
            max-width: (900/16rem);
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
            position: relative;
        }

        .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            /* 16px - 32px */
            padding: clamp(1.5rem, 3.1vw, 2rem) clamp(1rem, 2.3vw, 2rem);
            background-color: #fff;
            border: 1px solid transparent;
            border-radius: (8/16rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-column: span 12;
            position: relative;
            transition: border 0.3s;

            &:hover {
                border: 1px solid var(--primary);

                .cs-h3 {
                    color: var(--primary);
                }
            }
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            line-height: 1.2em;
            text-align: left;
            width: 100%;
            margin: 0 0 (16/16rem) 0;
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0 0 (24/16rem) 0;
            color: var(--bodyTextColor);
        }

        .cs-number-wrapper {
            width: (48/16rem);
            height: (48/16rem);
            margin-top: auto;
            margin-bottom: (-24/16rem);
            padding: (10/16rem);
            background-color: var(--headerColor);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
        }

        .cs-number {
            font-size: (20/16rem);
            font-weight: 700;
            color: #fff;
        }

        .cs-picture {
            width: 100%;
            height: (180/16rem);
            display: block;
            flex: none;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: (8/16rem);
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #steps-2014 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-item {
            grid-column: span 4;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 75rem) {
    #steps-2014 {
        .cs-container {
            flex-direction: row;
            align-items: flex-start;
        }

        .cs-content {
            text-align: left;
            /* 221x - 305px */
            max-width: clamp(13.8125rem, 21vw, 19.0625rem);
            align-items: flex-start;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #steps-2014 {
            background-color: rgba(0, 0, 0, 0.2);

            .cs-item {
                background-color: rgba(0, 0, 0, .4);
            }

            .cs-title,
            .cs-text,
            .cs-item-text,
            .cs-h3 {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-item-text {
                opacity: 0.8;
            }

            .cs-number-wrapper {
                background-color: var(--primary);
            }

            .cs-picture {
                border-color: var(--dark);
            }
        }
    }
}            

/*-- -------------------------- -->
<---           Logos            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #logos-857 {
        background-color: #f7f7f7;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (800/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin: 0;
        }

        .cs-logo-group {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: (40/16rem);
        }

        .cs-logo {
            width: 40%;
            max-width: (120/16rem);
            height: auto;
            margin: 0;
            display: block;
        }
    }
}

/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #logos-857 {
        .cs-container {
            max-width: (1280/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #logos-857 {
            background-color: fade(#000, 20%);

            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title {
                color: var(--bodyTextColorWhite);
            }

            .cs-logo {
                filter: grayscale(100) brightness(2000%);
            }
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-2385 {
        padding: var(--sectionPadding);
        background-color: #fff;
        position: relative;
        z-index: 1;

        &:before {
            content: '';
            width: 100%;
            height: 100%;
            background: var(--primary);
            opacity: .05;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .cs-container {
            width: 100%;
            /* changes to 1280px at Desktop */
            max-width: (700/16rem);
            margin: auto;
            /* 24px - 64px top & bottom */
            /* 16px - 64px left & right */
            padding: clamp(1.5rem, 4vw, 3.75rem) clamp(1rem, 4vw, 3.75rem);
            background-color: #fff;
            border-radius: (16/16rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-button-solid {
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            /* 16px - 24px */
            padding: clamp(1rem, 2.15vw, 1.25rem);
            border-radius: (16/16rem);
            overflow: hidden;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            background-color: #fff;
            display: flex;
            grid-column: span 12;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            position: relative;
            z-index: 1;

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                background: var(--primary);
                opacity: .05;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-quote {
            /* changes to 34px at tablet */
            margin-bottom: (48/16rem);
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: (16/16rem);
        }

        .cs-icon-wrapper {
            width: (62/16rem);
            height: (56/16rem);
            border-radius: (8/16rem);
            background-color: #fff;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;
            z-index: 1;

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                background: var(--primary);
                opacity: .20;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-icon {
            width: (30/16rem);
            height: auto;
            display: block;
        }

        .cs-header {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-review {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.6vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            margin-bottom: (32/16rem);
            padding-top: (32/16rem);
            color: var(--bodyTextColor);
            border-top: 1px solid #D2D8DF;
        }

        .cs-flex-group {
            /* this margin top auto will push everything up and force the cs-flex-group to the bottom of the container. This is to account for review cards with different heights because of more or less text and makes the cards more responsive to changing text */
            margin-top: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (12/16rem);
        }

        .cs-profile {
            width: (50/16rem);
            height: auto;
            border-radius: 50%;
            /* clips image corners to make circle */
            overflow: hidden;
            position: relative;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes the image behave like a background image */
                object-fit: cover;
            }
        }

        .cs-name {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
            margin-top: auto;
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.6vw, 1rem);
            line-height: 1.5em;
            font-weight: 400;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-2385 {
        .cs-content {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            gap: (32/16rem);
        }

        .cs-title {
            margin: 0;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #reviews-2385 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-item {
            grid-column: span 4;
        }

        .cs-quote {
            min-height: (90/16rem);
            margin-bottom: (34/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-2385 {
            background-color: rgba(0, 0, 0, .2);

            .cs-container {
                background-color: rgba(0, 0, 0, .2);
            }

            .cs-item, .cs-icon-wrapper {
                background-color: var(--dark);
            }

            .cs-header, .cs-review, .cs-name, .cs-job {
                color: var(--bodyTextColotWhite);
            }

            .cs-review, .cs-job {
                opacity: .8;
            }

            .cs-review {
                border-color: rgba(255, 255, 255, .2);
            }
        }
    }
}

/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #stats-2402 {
        padding: var(--sectionPadding);
        padding-top: 0;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            text-align: left;
            /* 32px - 40px and 24 - 40px */
            padding: clamp(2rem, 4vw, 2.5rem) clamp(1.25rem, 4vw, 2.5rem);
            grid-column: span 12;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            position: relative;

            &:before {
                /* pseudo element for border */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                border: 1px solid var(--primary);
                border-radius: (12/16rem);
                opacity: 0.2;
                top: 0;
                left: 0;
                z-index: -1;
            }

            &:after {
                content: "";
                position: absolute;
                height: (40/16rem);
                width: (6/16rem);
                background-color: var(--primary);
                border-radius: 0 (8/16rem) (8/16rem) 0;
                top: (35/16rem);
                left: 0;
            }
        }

        .cs-number {
            font-size: (39/16rem);
            line-height: 1.2em;
            font-weight: 900;
            margin: 0 0 (12/16rem) 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-small {
            font-size: (25/16rem);
        }

        .cs-header {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 900;
            margin-bottom: (4/16rem);
            color: var(--bodyTextColor);
        }

        .cs-item-text {
            line-height: 1.5em;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 700px */
@media only screen and (min-width: 700px) {
    #stats-2402 {
        .cs-item {
            grid-column: span 6;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #stats-2402 {
        .cs-item {
            grid-column: span 3;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #stats-2402 {
            background-color: var(--dark);

            .cs-item {
                &:before {
                    border-color: #fff;
                }
            }

            .cs-number,
            .cs-header,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-header,
            .cs-item-text {
                opacity: 0.8;
            }
        }
    }
}
                                
                                
                                
                                
